.script img {
    width: 35px; /* Set width */
    height: auto; /* Let the height adjust automatically to maintain the aspect ratio */
    border-radius: 5px;
    margin-bottom: 10px; /* Spacing below the image */
}
